.customiser_wrapper{
    height: 500px;
    width: 800px;
    border-radius: 0px 30px 30px 0px;
}
.customiser_nav_wrapper{
      background: rgba(112, 185, 207, 0.2);
}
.nav-pills > button{
    color: var(--primary-color);
}
.nav-pills > button:hover{
    color: var(--text-color-light);
}