.customiser_wrapper{
    height: 800px;
    width: 800px;
}
.customiser_nav_wrapper{
      background: rgba(112, 185, 207, 0.2);
}
.nav-pills > button{
    color: var(--primary-color);
}
.nav-pills > button:hover{
    color: var(--text-color-light);
}
.nav-pills .nav-link{
    color: var(--primary-color);
}
.nav-pills .nav-link.active{
    background-color: var(--primary-color);
    font-weight: bolder;
    color: var(--text-color);
}