/* the color theme gose here */
:root {
  /* Light Theme Variables */
  --background-color: #ffffff;
  --text-color: #3c4171;
  --text-color-light: #ffffff;
  --primary-color: #00adef;
  --secondary-color: #24265d;
  --card-background-color: #f8f9fa;
  --box-shadow-color: rgba(0, 0, 0, 0.479);
  --main-font: "Poppins", sans-serif;
}
body {
  background-image: url(../img/hotel-lobby-with-blue-light-strip-on-ceiling-and-rich-colours-for-fruniture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body::after{
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--box-shadow-color);
  position: absolute;
  top: 0;
  z-index: -1;
}
.dark-theme {
  /* Dark Theme Variables */
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #1e90ff;
  --secondary-color: #b0bec5;
  --card-background-color: #1e1e1e;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
}
.bg-glass {
  background: rgba(112, 185, 207, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card-bg-glass {
  background: rgba(79, 92, 202, 0.384);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--background-color);
}
.button {
  cursor: pointer;
  padding: 10px 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;

  background: rgba(13, 44, 75, 0.15);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(30, 144, 255, 0.29);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #fff;
  transition: 0.3s !important;
  margin: 10px 0;
}
.button_link {
  text-decoration: none;
  font-size: 18px;
  color: var(--text-color-light);
  text-transform: uppercase;
}
.button_link:hover{
  color: var(--background-color);
}
/* Button Hover Effect */
.button:hover {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  transition: 0.3s all ease-in-out;
  background: rgba(0, 0, 0, 0.575);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(30, 144, 255, 0.29);
}
